auto-save-list/
eln-cache/
eshell/
projects
recentf
saves
straight/
transient/
.cache
.lsp-session-v1
.org-id-locations
org-roam.db
bookmarks
request/
workspace/
mastodon.plstore
forge-database.sqlite
perspective
custom.el
